<% content_for :head do %>
    <title><%= t('home.title', :default=> 'SEO Marketing - get the results you want') %></title>
<% end %>
<div id="content-main">
  <div id="banner-home">
    <a href="/"><%= image_tag("rank-banner-chart.png", :alt => "SEOMarketing - rank before you pay!", :id => "logo") %></a>
  </div>
  <div id="content-bottom-home">

    <!--<div id="bottom-left-home">
      <h1>SEO You Can Trust!</h1>
      <p>SEOMarketing's Search Engine Optimization service gets your ranked before you pay. Learn how our Pay-For-Results search marketing service works, or get started with a FREE SEO review.</p>
    </div>-->
    <%= t('home.bottom_left') %>

    <!--<div id="bottom-right-home">
      <h2>FREE SEO MARKETING ANALYSIS</h2>
      <p>Signup to have an SEO Analysist review your website and learn how SEOMarketing can increase your Search Engine rankings.</p>
      <div class="center-it"><%= link_to 'Sign Up Now', ['signup', @signup], :class => "button orange glossy" %></div>
    </div>-->
    <%= t('home.bottom_right') %>

  </div>
</div>



