<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top">
  <nav id="container-top">

    <% if I18n.locale == I18n.default_locale %>
        <%= link_to(image_tag("seomarketing-logo.png", :alt => "SEOMarketing - get the results you want", :id => "logo"), '/' ) %>
    <% else %>
        <%= link_to(image_tag("seomarketing-logo.png", :alt => "SEOMarketing - get the results you want", :id => "logo"), 'home' ) %>
    <%end%>

    <ul id="nav-top">
      <li><%= link_to_unless_current t('header_nav.how_it_works', :default=> 'How It Works'), ['how_it_works', @how_it_works] do link_to t('header_nav.how_it_works', :default=> 'How It Works'), how_it_works_path, :class => "current" end %></li>
      <li><%= link_to_unless_current t('header_nav.faq', :default=> 'FAQ'), ['faq', @faq]  do link_to t('header_nav.faq', :default=> 'FAQ'), 'faq', :class => "current" end %></li>
      <li><%= link_to_unless_current t('header_nav.partners', :default=> 'Partners'), ['partners', @partners_index] do link_to t('header_nav.partners', :default=> 'Partners'), 'partners', :class => "current" end %></li>
      <li><%= link_to_unless_current t('header_nav.about', :default=> 'About'), ['about', @about_us] do link_to t('header_nav.about', :default=> 'About'), 'about', :class => "current" end %></li>
      <li><%= link_to_unless_current t('header_nav.signup', :default=> 'Signup'), ['signup', @signup], :class => "nav-top-signup" do link_to t('header_nav.signup', :default=> 'Signup'), 'signup', :class => "signup-current" end %></li>
    </ul>
  </nav>
</div>
<div id="container-main">
  <div id="nav-right">
    <div id="language-choice">

      <!--<% if I18n.locale == I18n.default_locale %>
              <%= link_to 'EN', url_for( :locale => 'en' ), :id => 'en' %>
          <% else %>
              <%= link_to 'TH', url_for( :locale => 'th' ), :id => 'th' %>
          <%end%>-->

      <%= link_to 'TH', url_for( :locale => 'th' ), :id => 'th', :class => 'language-current' %> | <%= link_to 'EN', url_for( :locale => 'en' ), :id => 'en' %></div>
  </div>

  <%= yield %>

</div>

<footer>
  <ul id="nav-footer">
    <li>&copy; Copyright <%= Time.now.year %> SEOMarketing.co.th</li>
    <li><%= link_to t('footer_nav.privacy_policy', :default=> 'Privacy Policy'), ['privacy_policy', @privacy_policy] %></li>
    <li><%= link_to t('footer_nav.terms_of_service', :default=> 'Terms of Service'), ['terms_of_service', @terms_of_service] %></li>
  </ul>
  <div id="social-icons">
    <a href="#" class="social-icon-facebook"></a>
    <a href="#" class="social-icon-twitter"></a>
  </div>
</footer>


</body>
</html>
